




/* small device */

/* @media screen and (max-width:576px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .food{
        background-color: rebeccapurple;
    }
} */


 /* large device */

/* @media screen and (min-width:576px) and (max-width:992px) {
        .container{
            grid-template-columns: repeat(2,1fr);
        }
    } */


    .container{
        display: flex;
        gap: 20px;
        /* flex-wrap: wrap; */
    }

    .box{
        background-color: saddlebrown;
        padding: 20px;
        border-radius: 20px;
    }

    @media screen and (max-width: 576px) {
        .container{
            flex-direction: column;
        }
    }